

.container {
    /* height:"100vh" ; */
    margin: 0;
    padding: 0;
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-columns: 2fr 2fr;
    /* background-color: aqua; */
  }

  